# dependencies
node_modules/
.pnpm-store/

# turbo
.turbo/

# next.js
.next/
out/

# build
dist/
build/

# misc
.DS_Store
*.log
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp